<h1><%= @order.id %></h1>
<%= @order.created_at %>
<%= @order.updated_at %>
<%= @order.status %>

<% @order.ordered_items.each do |item| %>
  <section id="item-<%= item.item_id %>">
    <%= item.name %>
    <%= item.description %>
    <%= item.image %>
    <%= item.quantity %>
    <%= item.unit_price %>
    <%= item.subtotal %>
  </section>
<% end %>

<%= button_to "Cancel Order", admin_order_path(@order), method: :put, class: 'btn btn-danger' if @order.status != 'cancelled' %>
<%= @order.quantity_of_items %>
<%= @order.grand_total %>
