<h1><%= @order.id %></h1>
<%= @order.created_at %>
<%= @order.updated_at %>
<%= @order.status %>

<% @order.ordered_items.each do |item| %>
  <section id="item-<%= item.item_id %>">
    <%= item.name %>
    <%= item.description %>
    <%= item.image %>
    <%= item.quantity %>
    <%= item.unit_price %>
    <%= item.subtotal %>
    <ul>
      <li><%= button_to "Fulfill", merchant_order_path(@order, item: item), method: :put unless item.fulfilled || item.quantity > item.merchant_stock %></li>
      <li><%= "Item Fulfilled" if item.fulfilled %></li>
      <li id="big-red-box"><%= "Not Enough In Stock" if item.quantity > item.merchant_stock %></li>
    </ul>
  </section>
<% end %>

<%= button_to "Cancel Order", admin_order_path(@order), method: :put, class: 'btn btn-danger' if @order.status == 'pending' %>
<%= @order.quantity_of_items %>
<%= @order.grand_total %>
