<h1><%= @order.id %></h1>
<%= @order.created_at %>
<%= @order.updated_at %>
<%= @order.status %>

<% @order.ordered_items.each do |ordered_item| %>
  <section id="item-<%= ordered_item.item_id %>">
    <%= ordered_item.name %>
    <%= ordered_item.description %>
    <%= ordered_item.image %>
    <%= ordered_item.quantity %>
    <%= ordered_item.unit_price %>
    <%= ordered_item.subtotal %>
    <ul>
      <li><%= button_to "Fulfill", admin_order_path(@order, ordered_item: ordered_item), method: :put unless ordered_item.fulfilled || ordered_item.quantity > ordered_item.merchant_stock %></li>
      <li><%= "Item Fulfilled" if ordered_item.fulfilled %></li>
      <li id="big-red-box"><%= "Not Enough In Stock" if ordered_item.quantity > ordered_item.merchant_stock %></li>
    </ul>
  </section>
<% end %>

<%= button_to "Cancel Order", admin_order_path(@order), method: :put, class: 'btn btn-danger' if @order.status == 'pending' %>
<%= @order.quantity_of_items %>
<%= @order.grand_total %>
