<section class="container" id="statistics">
  <section id="accordian">
    <% if current_registered? %>
      <section class="card" id="items-by-state-fulfillment-speed">
        <section class="card-header">
          <h4 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-items-by-state-fulfillment-speed" aria-expanded="false" aria-controls="collapse-biggest-merchant">
              Top 5 Merchants By Fulfillment Speed to <%= current_user.name %>'s state
            </button>
          </h4>
        </section>
        <section class="collapse" id="collapse-items-by-state-fulfillment-speed">
          <ul class="list-group">
            <% @top_merchants_by_speed_to_your_state.each do |merchant|%>
            <li class="list-group-item"> <%= merchant.name %></li>
            <% end %>
          </ul>
        </section>
      </section>
    <% end %>
    <section class="card" id="items-this-month">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-items-this-month" aria-expanded="false" aria-controls="collapse-biggest-merchant">
            Top 10 Merchants who sold the most items this month
          </button>
        </h4>
      </section>
      <section class="collapse" id="collapse-items-this-month">
        <ul class="list-group">
          <% @top_merchants_by_items_sold_this_month.each do |merchant|%>
          <li class="list-group-item"> <%= merchant.name %></li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="items-last-month">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-items-last-month" aria-expanded="false" aria-controls="collapse-biggest-merchant">
            Top 10 Merchants who sold the most items last month
          </button>
        </h4>
      </section>
      <section class="collapse" id="collapse-items-last-month">
        <ul class="list-group">
          <% @top_merchants_by_items_sold_last_month.each do |merchant|%>
          <li class="list-group-item"> <%= merchant.name %></li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="biggest-merchants">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-biggest-merchants" aria-expanded="false" aria-controls="collapse-biggest-merchant">
            Top 3 Merchants by revenue
          </button>
        </h4>
      </section>
      <section class="collapse" id="collapse-biggest-merchants">
        <ul class="list-group">
          <% @top_merchants_by_revenue.each do |merchant|%>
          <li class="list-group-item"> <%= merchant.name %>. Revenue: <%= number_to_currency(merchant.revenue) %> </li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="fastest-merchants">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" aria-expanded="false" data-target="#collapse-fastest-merchants" data-toggle="collapse">Top 3 Fastest Merchants:</button>
        </h4>
      </section>
      <section class="collapse" id="collapse-fastest-merchants">
        <ul class="list-group">
          <% @fastest_merchants.each do |merchant|%>
          <li class="list-group-item"> <%= merchant.name %>. Average Fulfillment Time: <%= time_string(merchant.fulfillment_time) %> </li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="slowest-merchants">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" aria-expanded="false" data-target="#collapse-slowest-merchants" data-toggle="collapse">Top 3 Slowest Merchants:</button>
        </h4>
      </section>
      <section class="collapse" id="collapse-slowest-merchants">
        <ul class="list-group">
          <% @slowest_merchants.each do |merchant|%>
          <li class="list-group-item"> <%= merchant.name %>. Average Fulfillment Time: <%= time_string(merchant.fulfillment_time) %> </li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="top-states">
      <section class="card-header">
        <h3 class="mb-0">
          <button class="btn btn-link" aria-expanded="false" data-target="#collapse-top-states" data-toggle="collapse">Top 3 States:</button>
        </h3>
      </section>
      <section class="collapse" id="collapse-top-states">
        <ul class="list-group">
          <% @top_states.each do |state|%>
          <li class="list-group-item"> <%= state.state %>. Number of orders: <%= state.order_count %> </li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="top-cities">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" aria-expanded="false" data-target="#collapse-top-cities" data-toggle="collapse">Top 3 Cities:</button>
        </h4>
      </section>
      <section class="collapse" id="collapse-top-cities">
        <ul class="list-group">
          <% @top_cities.each do |city|%>
          <li class="list-group-item"> <%= city.location %>. Number of orders: <%= city.city_quantity %> </li>
          <% end %>
        </ul>
      </section>
    </section>
    <section class="card" id="biggest-orders">
      <section class="card-header">
        <h4 class="mb-0">
          <button class="btn btn-link" aria-expanded="false" data-target="#collapse-biggest-orders" data-toggle="collapse">Top 3 Biggest Orders:</button>
        </h4>
      </section>
      <section class="collapse" id="collapse-biggest-orders">
        <ul class="list-group">
          <% @biggest_orders.each do |order|%>
          <li class="list-group-item"> Order: <%= order.id%> Quantity: <%= order.total_quantity %> </li>
          <% end %>
        </ul>
      </section>
    </section>
  </section>
</section>

<h3>Merchants</h3>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Registration Date</th>
      <% if current_admin? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @merchants.each do |merchant| %>
      <% if current_admin? %>
        <tr id="merchant-<%= merchant.id %>">
          <td><%= link_to merchant.name, admin_merchant_path(merchant) %></td>
          <td><%= merchant.city %>, <%= merchant.state %></td>
          <td><%= merchant.created_at.localtime.strftime("%B, %d %Y at %H:%M %p") %></td>
          <td><%= button_to "Enable", admin_enable_user_path(merchant), class: 'btn btn-success', method: :put if merchant.disabled %>
          <%= button_to "Disable", admin_disable_user_path(merchant), class: 'btn btn-warning', method: :put if !merchant.disabled %>
        </td>
      <% elsif !merchant.disabled %>
        <tr id="merchant-<%= merchant.id %>">
          <td><%= merchant.name %></td>
          <td>From: <%= merchant.city %>, <%= merchant.state %></td>
          <td>Registered: <%= merchant.created_at.strftime("%B, %d %Y") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
