<section>
  <h1>Your Dashboard</h1>
  <%= link_to 'Downgrade', admin_downgrade_merchant_path(@merchant), method: :put  %>
  <article class="user-info">
    <p>Name: <%= @merchant.name %> </p>
    <p>Email: <%= @merchant.email %> </p>
    <p>Address: <%= @merchant.address %> </p>
    <p>City: <%=  @merchant.city %> </p>
    <p>State: <%= @merchant.state %> </p>
    <p>Zip code: <%= @merchant.zipcode %> </p>
  </article>
  <div class="statistics">
    Top 5 Items: <% @merchant.top_items_for_merchant(5).each do |item| %>
      <li><%= item.name %>: <%= item.total_quantity %> sold</li>
    <% end %>
    <p>Items Sold: You have sold <%= @merchant.items_sold_by_quantity %> items which is <%=number_to_percentage((@merchant.items_sold_by_percentage).round(2) * 100) %> of your total inventory. </p>
    Top 3 States: <% @merchant.top_states(3).each do |state| %>
      <li><%= state.state %>: <%= state.state_quantity %> sold</li>
    <% end %>
    Top 3 Cities: <% @merchant.top_cities(3).each do |city| %>
      <li><%= city.location %>: <%= city.city_quantity %> sold</li>
    <% end %>
    <p>Customer With Most Orders: <%= @merchant.top_customer_by_orders.name if @merchant.top_customer_by_orders %> </p>
    <p>Customer With Most Items: <%= @merchant.top_customer_by_items.name if @merchant.top_customer_by_items %> </p>
    Biggest Spenders: <% @merchant.top_spenders(3).each do |user| %>
      <li><%= user.name %>: <%= number_to_currency(user.total_spent) %> spent</li>
    <% end %>
  </div>
  <% @orders.each do |order| %>
    <div class="order-<%= order.id %>">
      <p>Order ID: <%= link_to "#{order.id}", merchant_order_path(order) if current_merchant? %>
       <%= link_to "#{order.id}", admin_order_path(order) if current_admin? %></p>
      <p>Created on: <%= order.created_at.strftime("%m-%d-%Y") %> </p>
      <p>Total items: <%= order.total_items_for_merchant(@merchant) %> </p>
      <p>Amount: <%= order.total_value_for_merchant(@merchant) %> </p>
    </div>
  <% end %>
  <%= link_to 'My Items', dashboard_items_path if current_user.merchant? %>
  <%= link_to 'My Items', admin_merchant_items_path(@merchant) if current_user.admin? %>
</section>
