<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <h1>Order #<%= @order.id %></h1>
      <h5>Placed on: <%= @order.created_at.localtime.strftime("%B, %d %Y at %I:%M %p") %></h5>
      <h5>Last updated: <%= @order.updated_at.localtime.strftime("%B, %d %Y at %I:%M %p") %></h5>
    </div>
    <div class="col-12 col-md-6">
      <% if current_merchant? %>
      <address class="customer-info">
        <h4>Customer: <%= @customer.name %></h4>
        <strong>Address:</strong> <br>
        <%= @customer.address %>, <br>
        <%= @customer.city %>,
        <%= @customer.state %>
        <%= @customer.zipcode%><br>
      </address>
      <% else %>
      <h3> Current status: <%= @order.status.titleize %></h3>
      <% end %>
    </div>
  </div>
  <% @order.ordered_items.each do |ordered_item| %>
    <% if !current_merchant? || ordered_item.merchant_id == current_user.id %>
    <div class="row" id="item-<%= ordered_item.item_id %>">
      <div class="col-2">
        <img class="img-fluid" src="<%= ordered_item.image %>">
      </div>
      <div class="col-md-4">
        <h4 class="product-name"><strong> <%= ordered_item.name if !current_merchant? %>
        <%= link_to ordered_item.name, item_path(ordered_item.item_id) if current_merchant? %> </strong></h4>
        <h4><small> <%= ordered_item.description %> </small></h4>
      </div>
      <div class="col-md-3">
        <p><strong>Price:</strong>  <%= number_to_currency(ordered_item.unit_price)%></p>
        <p><strong>Quantity:</strong> <%= ordered_item.quantity %></p>
        <p><strong>Subtotal:</strong> <%= number_to_currency(ordered_item.subtotal) %></p>
        <%= button_to "Add Review", new_order_item_review_path(ordered_item), method: :get, class: 'btn btn-success' %>
      </div>
      <% if !current_registered? %>
        <div class="col- <%= "alert alert-danger" if !ordered_item.fulfilled && ordered_item.quantity > ordered_item.merchant_stock %>">
          <% unless (ordered_item.fulfilled || ordered_item.quantity > ordered_item.merchant_stock || @order.cancelled?) %>
            <%= button_to "Fulfill", admin_order_path(@order, ordered_item: ordered_item), method: :put, class: 'btn btn-success' if current_admin? %>
            <%= button_to "Fulfill", merchant_order_path(@order, ordered_item: ordered_item), method: :put, class: 'btn btn-success' if current_merchant? %>
          <% end %>
          <%= "Item Fulfilled" if ordered_item.fulfilled %>
          <%= "Not Enough In Stock" if !ordered_item.fulfilled && ordered_item.quantity > ordered_item.merchant_stock %>
        </div>
      <% end %>
    </div>
    <hr>
    <% end %>
  <% end %>
  <%= button_to "Cancel Order", admin_order_path(@order), method: :put, class: 'btn btn-danger' if @order.pending? && current_admin? %>
  <%= button_to "Cancel Order", order_path(@order), method: :put, class: 'btn btn-danger' if @order.pending? && current_registered? %>
  <% if !current_merchant? %>
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 offset-6 offset-md-8 offset-lg-9">
        <h5>Total quantity: <%= @order.quantity_of_items %></h5>
        <h3>Grand total: <%= number_to_currency(@order.grand_total) %></h3>
    </div>
  </div>
  <% end %>
</div>
