<section>
  <h1>Your profile</h1>
  <article class="user-info">
    <p>Username: <%= @user.name %> </p>
    <p>Email: <%= @user.email %> </p>
    <p>Address: <%= @user.address %> </p>
    <p>City: <%=  @user.city %> </p>
    <p>State: <%= @user.state %> </p>
    <p>Zip code: <%= @user.zipcode %> </p>
    <%= link_to "Edit my profile" %>
  </article>

</section>
