<section class="customer-info">
<h4>Customer: <%= @customer.name %></h4>
  <strong>Address:</strong> <br>
  <%= @customer.address %>, <br>
  <%= @customer.city %>,<br>
  <%= @customer.state %><br>
  <%= @customer.zipcode%><br>
</section>

<section class="my-items">
  <h5>Items:</h5>

  <% @order_items.each do |order_item| %>
  <ul id="item-<%= order_item.item_id %>">

  <li> <%=link_to order_item.name, item_path(order_item.item_id)%>  </li>
  <li> <img class="img-responsive" src=<%= order_item.image %> > </li>
  <li>Price:  <%= number_to_currency(order_item.unit_price)%></li>
  <li>Quantity: <%= order_item.quantity %> </li>
  <li><%= button_to "Fulfill", merchant_order_path(@order, order_item: order_item), method: :put unless order_item.fulfilled %></li>
  <li><%= "Item Fulfilled" if order_item.fulfilled %></li>
  </ul>
  <% end  %>


</section>
