<section class="customer-info">
<h4>Customer: <%= @customer.name %></h4>
  <strong>Address:</strong> <br>
  <%= @customer.address %>, <br>
  <%= @customer.city %>,<br>
  <%= @customer.state %><br>
  <%= @customer.zipcode%><br>
</section>
<%= render file: '/orders/show' %>
