<section class="container" id="statistics-wrapper">
  <section class="row">
    <div class="col-12 col-md-6 col-lg-5" id="top-selling-items">
      <h1>Top Selling Items:</h1>
      <ul>
        <% @top_items.each do |item| %>
          <li><%= item.name %> Quantity: <%= item.quantity %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-5" id="worst-selling-items">
      <h1>Least Sold Items:</h1>
      <ul>
        <% @worst_items.each do |item| %>
          <li><%= item.name %> Quantity: <%= item.quantity %></li>
        <% end %>
      </ul>
    </div>
  </section>
</section>
<section class="container">
  <section class="row" id="cards_wrapper">
    <% @items.each do |item| %>
    <div class='card col-12 col-md-6 col-lg-4 col-xl-3' id="item-<%= item.id %>">
      <%= link_to image_tag(item.image, class: "card-img-top", alt: "#{item.name} image"), item_path(item), id: "picture-#{item.id}" %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to item.name, item_path(item) %></h5>
        <h6 class="merchant-name"><%= item.user.name %></h6>
        <p class="card-text"><%= item.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Current Price: <%= number_to_currency(item.price) %></li>
        <li class="list-group-item">Stock: <%= item.quantity %></li>
      </ul>
    </div>
    <% end %>
  </section>
</section>
