<section class="container" id="item-show-container">
  <section class="row">
    <section class="col-12 col-md-6 col-lg-6">
      <%= image_tag @item.image, class: "img-fluid" %>
    </section>
    <section class="col-12 col-md-6 col-lg-6">
      <h2><%= @item.name %></h2>
      <h4><%= @item.user.name %></h4>
      <p>Current Price: <%= number_to_currency(@item.price) %></p>
      <p>Stock: <%= @item.quantity %></p>
      <p>Average Fulfillment Time: <%= time_string(@item.average_fulfillment_time) %></p>
      <%= link_to "Add to Shopping Cart", carts_path(item_id: @item.id), method: :post unless current_user && (current_user.admin? || current_user.merchant?) %>
    </section>
  </section>
  <section class="row">
    <h6>Item Description:</h6>
    <%= @item.description %>
  </section>
  <% if @item.reviews %>
    <section class='row' id='reviews'>
      <% @item.reviews.each do |review| %>
        
      <% end %>
    </section>
  <% end %>
</section>
