<nav>
  <h1><%= link_to 'Placeholder Site Name', welcome_index_path %></h1>
  <ul>
    <li><%= link_to 'Items', items_path %></li>
    <li><%= link_to 'Merchants', users_path %></li>
    <li><%= link_to 'My Cart', cart_path %></li>
    <li><%= link_to 'Login', login_path %></li>
    <li><%= link_to 'Register', register_path %></li>
  </ul>
</nav>
